# .NET
bin/
obj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node / Angular
ui/node_modules/
ui/dist/
ui/.angular/
ui/.cache/
ui/test-results/
ui/playwright-report/

# Logs
npm-debug.log*
yarn-error.log*
