.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 420px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
