.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.tabs {
  padding: 0 16px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 64px;
  z-index: 10;
}

.content-inner {
  padding: 32px 16px 48px;
  box-sizing: border-box;
}
